[user]
	name = Cormac Eiler
	email = cormac.eiler@fujifilm.com
[cola]
	tabwidth = 4
[fetch]
	prune = true
[alias]
	lg = !git log --pretty=format:\"%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -20
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:dim green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	resethard = checkout HEAD --
#[core]
#	editor = vim --clean
